AdvancedHTTPServer==2.2.0
beautifulsoup4==4.9.3
dj-database-url==0.5.0
Django==3.1.7
dnslib==0.9.14
dnspython==2.1.0
email-validator==1.1.1
gitdb==4.0.5
GitPython==3.1.12
gunicorn==20.1.0
impacket==0.9.22
importlib-metadata==4.6.4
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
pylint==2.7.2
pymongo==3.11.3
pytz==2021.1
ipwhois==0.15.1
IPy==1.1
ipython==7.20.0
ipython_genutils==0.2.0
isort==5.7.0
Jinja2==2.11.2
jws==0.1.3
matplotlib==3.3.4
mysqlclient==1.4.4
oauth==1.0.1
oauth2client==3.0.0
Pillow==8.1.0
plaster==1.0
plaster-pastedeploy==0.5
platformdirs==2.4.0
plotly==4.14.3
pluginbase==1.0.0
ply==3.11
prettytable==0.7.2
promise==2.2
pycrypto==2.6.1
pycryptodome==3.12.0

requests==2.25.1
requests-toolbelt==0.7.0
retrying==1.3.3
Routes==2.5.1
SQLAlchemy==1.3.22
sqlalchemy-schemadisplay==1.3
sqlparse==0.4.1
websocket-client==0.57.0
websockets==8.1
whitenoise==5.2.0
wrapt==1.12.1
oauth2client==3.0.0
requests_toolbelt==0.7.0
python_jwt==2.0.1
pycryptodome==3.12.0
dj-database-url
psycopg2

