adblockparser==0.7
AdvancedHTTPServer==2.2.0
aiocmd==0.1.2
aioconsole==0.3.1
aiodns==2.0.0
aiohttp==3.6.2
aiomultiprocess==0.8.0
aioredis==1.3.1
aiosqlite==0.15.0
aiowinreg==0.0.3
ajpy==0.0.4
aniso8601==8.1.1
apispec==3.3.1
apispec-webframeworks==0.5.2
appdirs==1.4.4
asciitree==0.3.3
asgiref==3.3.1
asn1crypto==1.4.0
astroid==2.5.1
async-timeout==3.0.1
asysocks==0.0.2
attrs==20.3.0
autobahn==17.10.1
Automat==20.2.0
Babel==2.8.0
backcall==0.2.0

bcrypt==3.1.7
beautifulsoup4==4.9.3

blinker==1.4
boltons==19.1.0
bottle==0.12.19
Bottleneck==1.2.1
Brotli==1.0.9
bruter==0.0.2
bs4==0.0.1
CacheControl==0.12.10
cachetools==4.2.4
cairocffi==1.2.0

cbor==1.0.0
certifi==2020.6.20
cffi==1.14.4
chardet==4.0.0
CherryPy==8.9.1

click==7.1.2
click-plugins==1.1.1
colorama==0.4.4
configobj==5.0.6
constantly==15.1.0

crypto==1.4.1
cryptography==3.3.1

cycler==0.10.0
Cython==0.29.21
dbus-python==1.2.16

decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.13
deprecation==2.0.7
dicttoxml==1.7.4
distlib==0.3.1
distro==1.5.0
distro-info==1.0
dj-database-url==0.5.0
Django==3.1.7
dnslib==0.9.14
dnspython==2.1.0
ecdsa==0.16.1
email-validator==1.1.1
et-xmlfile==1.0.1
ExifRead==2.3.2
gitdb==4.0.5
GitPython==3.1.12
google-api-core==2.3.0
google-api-python-client==2.33.0
google-auth==2.3.3
google-auth-httplib2==0.1.0
google-cloud-core==2.2.1
google-cloud-firestore==2.3.4
google-cloud-storage==1.43.0
google-crc32c==1.3.0
google-resumable-media==2.1.0
googleapis-common-protos==1.54.0

graphene==2.1.7
graphene-sqlalchemy==2.1.2
graphql-core==2.2.1
graphql-relay==2.0.0
grpcio==1.42.0
grpcio-status==1.42.0
gunicorn==20.1.0

hashID==3.1.4
hiredis==1.0.1
hpack==4.0.0
html2text==2020.1.16
html5lib==1.1
httplib2==0.20.2

hupper==1.10.2
hyperframe==6.0.0
hyperlink==19.0.0
icalendar==4.0.3
idna==2.10
impacket==0.9.22
importlib-metadata==4.6.4
incremental==17.5.0
invoke==1.4.1
ipwhois==0.15.1
IPy==1.1
ipython==7.20.0
ipython_genutils==0.2.0
isort==5.7.0

Jinja2==2.11.2
jsonschema==3.2.0
jupyter-core==4.7.1
jwcrypto==1.0
jws==0.1.3
matplotlib==3.3.4
maxminddb==2.0.3
mccabe==0.6.1
mechanize==0.4.5

mysqlclient==1.4.4
numpy==1.19.4
oauth==1.0.1
oauth2client==3.0.0
Pillow==8.1.0
plaster==1.0
plaster-pastedeploy==0.5
platformdirs==2.4.0
plotly==4.14.3
pluginbase==1.0.0
ply==3.11
prettytable==0.7.2
promise==2.2
prompt-toolkit==3.0.14
proto-plus==1.19.8
protobuf==3.19.1
psycopg2==2.9.1
psycopg2-binary==2.9.2
publicsuffix2==2.20191221
py-ubjson==0.16.1
pyasn1==0.4.8
pyasn1-modules==0.2.1
pycairo==1.16.2
pycares==3.1.1
pycparser==2.20
pycrypto==2.6.1
pycryptodome==3.12.0
pycryptodomex==3.9.7
pycups==2.0.1
pycurl==7.43.0.6
pydot==1.4.1
pyee==7.0.2
pyExploitDb==0.2.0
pyfiglet==0.8.post0
Pygments==2.7.1
PyGObject==3.38.0
pygraphviz==1.6
PyHamcrest==1.9.0
pyinotify==0.9.6
pylint==2.7.2
pylnk3==0.2.1
pymongo==3.11.3
Pyrebase==3.0.27
PySocks==1.7.1
pyspnego==0.1.5
python-dateutil==2.8.1
python-debian==0.1.39
python-decouple==3.6

redis==3.5.3
repoze.lru==0.7
requests==2.25.1
requests-file==1.5.1
requests-ntlm==1.1.0
requests-toolbelt==0.7.0
retrying==1.3.3
Routes==2.5.1
rq==1.7.0
rsa==4.8
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
rule-engine==1.1.0
Rx==3.1.1
scapy==2.4.4
SQLAlchemy==1.3.22
sqlalchemy-schemadisplay==1.3
sqlparse==0.4.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
wfuzz==3.1.0
whitenoise==5.2.0
whois==0.8
winacl==0.0.2
wrapt==1.12.1
wsaccel==0.6.2
wsproto==0.15.0
WTForms==2.2.1


